<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (offre(); as offreRef) {
      <div>
        <h2 data-cy="offreDetailsHeading"><span jhiTranslate="assistaCriseApp.offre.detail.title">Offre</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ offreRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="assistaCriseApp.offre.titre">Titre</span></dt>
          <dd>
            <span>{{ offreRef.titre }}</span>
          </dd>
          <dt><span jhiTranslate="assistaCriseApp.offre.description">Description</span></dt>
          <dd>
            <span>{{ offreRef.description }}</span>
          </dd>
          <dt><span jhiTranslate="assistaCriseApp.offre.servicePropose">Service Propose</span></dt>
          <dd>
            <span>{{ offreRef.servicePropose }}</span>
          </dd>
          <dt><span jhiTranslate="assistaCriseApp.offre.latitude">Latitude</span></dt>
          <dd>
            <span>{{ offreRef.latitude }}</span>
          </dd>
          <dt><span jhiTranslate="assistaCriseApp.offre.longitude">Longitude</span></dt>
          <dd>
            <span>{{ offreRef.longitude }}</span>
          </dd>
          <dt><span jhiTranslate="assistaCriseApp.offre.statut">Statut</span></dt>
          <dd>
            <span [jhiTranslate]="'assistaCriseApp.StatutAnnonce.' + (offreRef.statut ?? 'null')">{{
              {
                null: '',
                OUVERTE: 'OUVERTE',
                EN_COURS_DE_RESOLUTION: 'EN_COURS_DE_RESOLUTION',
                RESOLUE: 'RESOLUE',
                FERMEE: 'FERMEE',
                ARCHIVEE: 'ARCHIVEE',
              }[offreRef.statut ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="assistaCriseApp.offre.dateCreation">Date Creation</span></dt>
          <dd>
            <span>{{ offreRef.dateCreation | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="assistaCriseApp.offre.auteur">Auteur</span></dt>
          <dd>
            @if (offre()!.auteur) {
              <div>
                <a [routerLink]="['/utilisateur', offre()!.auteur?.id, 'view']">{{ offreRef.auteur?.id }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="assistaCriseApp.offre.crise">Crise</span></dt>
          <dd>
            @if (offre()!.crise) {
              <div>
                <a [routerLink]="['/crise', offre()!.crise?.id, 'view']">{{ offreRef.crise?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left" />&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/offre', offreRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt" />&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
