<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-crise-heading" data-cy="CriseCreateUpdateHeading" jhiTranslate="assistaCriseApp.crise.home.createOrEditLabel">
        Create or edit a Crise
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="global.field.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let titreRef = editForm.get('titre')!;
        <div class="mb-3">
          <label class="form-label" for="field_titre" jhiTranslate="assistaCriseApp.crise.titre">Titre</label>
          <input type="text" class="form-control" name="titre" id="field_titre" data-cy="titre" formControlName="titre" />
          @if (titreRef.invalid && (titreRef.dirty || titreRef.touched)) {
            <div>
              @if (editForm.get('titre')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let typeEventRef = editForm.get('typeEvent')!;
        <div class="mb-3">
          <label class="form-label" for="field_typeEvent" jhiTranslate="assistaCriseApp.crise.typeEvent">Type Event</label>
          <input type="text" class="form-control" name="typeEvent" id="field_typeEvent" data-cy="typeEvent" formControlName="typeEvent" />
          @if (typeEventRef.invalid && (typeEventRef.dirty || typeEventRef.touched)) {
            <div>
              @if (editForm.get('typeEvent')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let dateDebutRef = editForm.get('dateDebut')!;
        <div class="mb-3">
          <label class="form-label" for="field_dateDebut" jhiTranslate="assistaCriseApp.crise.dateDebut">Date Debut</label>
          <div class="d-flex">
            <input
              id="field_dateDebut"
              data-cy="dateDebut"
              type="datetime-local"
              class="form-control"
              name="dateDebut"
              formControlName="dateDebut"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (dateDebutRef.invalid && (dateDebutRef.dirty || dateDebutRef.touched)) {
            <div>
              @if (editForm.get('dateDebut')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('dateDebut')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >This field should be a date and time.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_dateFin" jhiTranslate="assistaCriseApp.crise.dateFin">Date Fin</label>
          <div class="d-flex">
            <input
              id="field_dateFin"
              data-cy="dateFin"
              type="datetime-local"
              class="form-control"
              name="dateFin"
              formControlName="dateFin"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        @let estActiveRef = editForm.get('estActive')!;
        <div class="mb-3">
          <label class="form-label" for="field_estActive" jhiTranslate="assistaCriseApp.crise.estActive">Est Active</label>
          <input type="checkbox" class="form-check" name="estActive" id="field_estActive" data-cy="estActive" formControlName="estActive" />
          @if (estActiveRef.invalid && (estActiveRef.dirty || estActiveRef.touched)) {
            <div>
              @if (editForm.get('estActive')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_validateur" jhiTranslate="assistaCriseApp.crise.validateur">Validateur</label>
          <select
            class="form-control"
            id="field_validateur"
            data-cy="validateur"
            name="validateur"
            formControlName="validateur"
            [compareWith]="compareUtilisateur"
          >
            <option [ngValue]="null"></option>
            @for (utilisateurOption of utilisateursSharedCollection(); track $index) {
              <option [ngValue]="utilisateurOption">{{ utilisateurOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label for="field_sinistreses" jhiTranslate="assistaCriseApp.crise.sinistres">Sinistres</label>
          <select
            class="form-control"
            id="field_sinistreses"
            data-cy="sinistres"
            multiple
            name="sinistreses"
            formControlName="sinistreses"
            [compareWith]="compareUtilisateur"
          >
            @for (utilisateurOption of utilisateursSharedCollection(); track $index) {
              <option [ngValue]="utilisateurOption">{{ utilisateurOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban" />&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving()"
          class="btn btn-primary"
        >
          <fa-icon icon="save" />&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
