<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-offre-heading" data-cy="OffreCreateUpdateHeading" jhiTranslate="assistaCriseApp.offre.home.createOrEditLabel">
        Create or edit a Offre
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="global.field.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let titreRef = editForm.get('titre')!;
        <div class="mb-3">
          <label class="form-label" for="field_titre" jhiTranslate="assistaCriseApp.offre.titre">Titre</label>
          <input type="text" class="form-control" name="titre" id="field_titre" data-cy="titre" formControlName="titre" />
          @if (titreRef.invalid && (titreRef.dirty || titreRef.touched)) {
            <div>
              @if (editForm.get('titre')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('titre')?.errors?.minlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: '5' }"
                  >This field is required to be at least 5 characters.</small
                >
              }
            </div>
          }
        </div>

        @let descriptionRef = editForm.get('description')!;
        <div class="mb-3">
          <label class="form-label" for="field_description" jhiTranslate="assistaCriseApp.offre.description">Description</label>
          <textarea
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          ></textarea>
          @if (descriptionRef.invalid && (descriptionRef.dirty || descriptionRef.touched)) {
            <div>
              @if (editForm.get('description')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let serviceProposeRef = editForm.get('servicePropose')!;
        <div class="mb-3">
          <label class="form-label" for="field_servicePropose" jhiTranslate="assistaCriseApp.offre.servicePropose">Service Propose</label>
          <input
            type="text"
            class="form-control"
            name="servicePropose"
            id="field_servicePropose"
            data-cy="servicePropose"
            formControlName="servicePropose"
          />
          @if (serviceProposeRef.invalid && (serviceProposeRef.dirty || serviceProposeRef.touched)) {
            <div>
              @if (editForm.get('servicePropose')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let latitudeRef = editForm.get('latitude')!;
        <div class="mb-3">
          <label class="form-label" for="field_latitude" jhiTranslate="assistaCriseApp.offre.latitude">Latitude</label>
          <input type="number" class="form-control" name="latitude" id="field_latitude" data-cy="latitude" formControlName="latitude" />
          @if (latitudeRef.invalid && (latitudeRef.dirty || latitudeRef.touched)) {
            <div>
              @if (editForm.get('latitude')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('latitude')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        @let longitudeRef = editForm.get('longitude')!;
        <div class="mb-3">
          <label class="form-label" for="field_longitude" jhiTranslate="assistaCriseApp.offre.longitude">Longitude</label>
          <input type="number" class="form-control" name="longitude" id="field_longitude" data-cy="longitude" formControlName="longitude" />
          @if (longitudeRef.invalid && (longitudeRef.dirty || longitudeRef.touched)) {
            <div>
              @if (editForm.get('longitude')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('longitude')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        @let statutRef = editForm.get('statut')!;
        <div class="mb-3">
          <label class="form-label" for="field_statut" jhiTranslate="assistaCriseApp.offre.statut">Statut</label>
          <select class="form-control" name="statut" formControlName="statut" id="field_statut" data-cy="statut">
            <option [ngValue]="null">{{ 'assistaCriseApp.StatutAnnonce.null' | translate }}</option>
            @for (statutAnnonce of statutAnnonceValues; track $index) {
              <option [value]="statutAnnonce">{{ 'assistaCriseApp.StatutAnnonce.' + statutAnnonce | translate }}</option>
            }
          </select>
          @if (statutRef.invalid && (statutRef.dirty || statutRef.touched)) {
            <div>
              @if (editForm.get('statut')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let dateCreationRef = editForm.get('dateCreation')!;
        <div class="mb-3">
          <label class="form-label" for="field_dateCreation" jhiTranslate="assistaCriseApp.offre.dateCreation">Date Creation</label>
          <div class="d-flex">
            <input
              id="field_dateCreation"
              data-cy="dateCreation"
              type="datetime-local"
              class="form-control"
              name="dateCreation"
              formControlName="dateCreation"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (dateCreationRef.invalid && (dateCreationRef.dirty || dateCreationRef.touched)) {
            <div>
              @if (editForm.get('dateCreation')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('dateCreation')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >This field should be a date and time.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_auteur" jhiTranslate="assistaCriseApp.offre.auteur">Auteur</label>
          <select
            class="form-control"
            id="field_auteur"
            data-cy="auteur"
            name="auteur"
            formControlName="auteur"
            [compareWith]="compareUtilisateur"
          >
            @if (!editForm.get('auteur')!.value) {
              <option [ngValue]="null" selected></option>
            }
            @for (utilisateurOption of utilisateursSharedCollection(); track $index) {
              <option [ngValue]="utilisateurOption">{{ utilisateurOption.id }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['auteur'])!.invalid && (editForm.get(['auteur'])!.dirty || editForm.get(['auteur'])!.touched)) {
          <div>
            @if (editForm.get(['auteur'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
            }
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_crise" jhiTranslate="assistaCriseApp.offre.crise">Crise</label>
          <select class="form-control" id="field_crise" data-cy="crise" name="crise" formControlName="crise" [compareWith]="compareCrise">
            @if (!editForm.get('crise')!.value) {
              <option [ngValue]="null" selected></option>
            }
            @for (criseOption of crisesSharedCollection(); track $index) {
              <option [ngValue]="criseOption">{{ criseOption.id }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['crise'])!.invalid && (editForm.get(['crise'])!.dirty || editForm.get(['crise'])!.touched)) {
          <div>
            @if (editForm.get(['crise'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban" />&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving()"
          class="btn btn-primary"
        >
          <fa-icon icon="save" />&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
